<div id="searchBoxContainer">
    <div class="row collapse">
        <div class="small-6 columns">
            <div id="dropdown-menu">
                <label class="filtersLabels"
                       for="namespaces">
                    <i class="material-icons">&#xE53B;</i> מרחבי שם
                </label>
                <select multiple="multiple" id="namespaceSelector" name="namespaces" class="SumoUnder" tabindex="-1">
                    {{#namespaces}}
                    <option value="{{value}}">{{text}}</option>
                    {{/namespaces}} 
                </select>
                <label class="filtersLabels"
                       for="categories">
                    <i class="material-icons">&#xE41D;</i> קטגוריות
                </label>
                <select multiple="multiple" name="categories" id="categoriesSelector" class="SumoUnder" tabindex="-1">
                    {{#categories}} 
                    <option value="{{.}}">{{.}}</option>
                    {{/categories}}                    
                </select>
            </div>
            <div id="searchBoxHeader">
                {{#isFilterVisible}}
                <a id="filterBtn" role="button" class="btnIcon mw-ui-button" title="{{filterBtnPopupTitle}}">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </a>
                {{/isFilterVisible}}

                <input type="search" name="search" placeholder="{{searchInputPlaceholder}}" title="{{searchInputPopupTitle}}" accesskey="f" id="searchBoxInput" autocomplete="off" class="mw-ui-input mw-ui-input-inline">

                <a id="searchButton" role="button" class="btnIcon mw-ui-button" title="{{searchBtnPopupTitle}}">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>